NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://stacksolve_user:password@localhost:5432/stacksolve

JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:3000
DOMAIN_URL=http://localhost:4000

JUDGE_API_URL=https://judge0-ce.p.sulu.sh
SULU_API_KEY=your_sulu_api_key_here